.about-content{
    margin-top: $header-height + $about-offset-top;
    text-align: center;
    font-size: 1.25rem !important;
}

.about-disclaimer{
    font-size: 1rem !important;
    font-style: italic;
    text-align: center;
    margin-top: -1vh;
    margin-bottom: 3vh;
}

.card-group {
    margin-top: $about-offset-top;
}

.card {
    height: 100%;
}

.card-img-top{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 800px) {
    .about-disclaimer {
        margin-bottom: 6vh;
    }
}