.about-header {
    color: $bs-blue;
    // font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    border-bottom: 3px solid #DC3C45;
    border-bottom-style: double;
}
.about-content{
    margin-top: $header-height + $about-offset-top;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.25rem !important;
}

.learn-more {
    margin-top: 1vh;
}

.about-disclaimer{
    font-size: 1rem !important;
    font-style: italic;
    text-align: center;
    margin-top: -1vh;
    margin-bottom: 3vh;
}

.card-group {
    margin-top: $about-offset-top;
    padding-bottom: 3vh;
}

.card {
    height: 100%;
}

.card-img-top{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 768px) {
    .about-disclaimer {
        margin-bottom: 10vh;
    }
    .about-content {
        font-size: 1rem !important;
    }
    .card-group {
    padding-bottom: 6vh;
    
    .learn-more {
        margin-top: 0vh;
    }
}
}