.contact{
    margin-top: $header-height;
    margin-bottom: $footer-height + $contact-offset-bottom;
}

.contact-text {
    margin-top: 12.5vh;
    margin-bottom: 5vh;
}

.form-group {
    padding-bottom: 1em;
}

.content-section {
    max-width: 641px;
}