.contact{
    margin-top: $header-height;
    margin-bottom: $footer-height + $contact-offset-bottom;
}

.contact-text {
    margin-top: 12.5vh;
    margin-bottom: 5vh;
}

.form-group {
    padding-bottom: 1em;
}

.content-section {
    max-width: 641px;
}

.contact-success {
    z-index: 10000;
    position: absolute;
    left: 50%;
    margin-top: $header-height;
}

.inner-contact-success{
    position: relative;
    left: -50%;
}

.alert{
    margin-top: 2vh;
}

.close-alert{
    margin-top: -1%;
}