

.cookie-box {
  position: fixed;
  bottom: $footer-height + $footer-height;
//   left: 10%;
  right: $footer-height;
  width: 203px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  color: white;
//   opacity: 50%;
  border-radius: 5px;
//   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  display:none;
}

.cookie-text {
    margin: 0;
    padding-bottom: 4px;
}

.cookie-link {
    transition: all 0.3s;
}

.cookie-link:hover {
    color: #DC3C45;
    text-decoration: none;
}

.cookie-close {
    display: block;
    width: 100%;
    margin-top: 7px;
    transition: all 0.3s;
}

.cookie-close:hover {
    background-color: #DC3C45;
    border-color: #DC3545;
}

cookie-close:active {
    background-color: #DC3C45;
    border-color: #DC3545;
}


// .close {
//   height: 20px;
//   background-color: rgba(255, 255, 255, 1);
//   border: none;
//   color: #DC3C45;
//   border-radius: 2px;
//   cursor: pointer;
// }

// .close2 {
//   z-index: 10001;
// }

		// <!-- Colors:
		// 	#DC3C45
		// 	#EE9EA2
		// 	#FFFFFF
		// 	#81BDFD
		// 	#037AFB -->