
.cookie-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cookie-box {
    position: fixed;
    bottom: $footer-height + $footer-height;
    //   left: 10%;
    // right: $footer-height;
    width: 203px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    //   opacity: 50%;
    border-radius: 5px;
    //   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 1100;
    display:none;
    font-size: small;
}

.cookie-text {
    margin: 0;
    padding-bottom: 4px;
}

.cookie-link {
    transition: all 0.3s;
}

.cookie-link:hover {
    color: $bs-red;
    text-decoration: none;
}

.cookie-close {
    display: block;
    width: 100%;
    margin-top: 7px;
    transition: all 0.3s;
}

.cookie-close:hover {
    background-color: $bs-red;
    border-color: #DC3545;
}

cookie-close:active {
    background-color: $bs-red;
    border-color: #DC3545;
}


// @media all and (max-width: 768px) {
//     .footer {
//         height: $header-height * 0.5;
//         font-size: calc(1em + 0.25vw);
//         font-weight: bold;
//     }
//     .copyright-link-full {
//         display: none;
//     }
//     .copyright-link-short {
//         display: inline-flex;
//     }
// }






// .close {
//   height: 20px;
//   background-color: rgba(255, 255, 255, 1);
//   border: none;
//   color: $bs-red;
//   border-radius: 2px;
//   cursor: pointer;
// }

// .close2 {
//   z-index: 10001;
// }

		// <!-- Colors:
		// 	$bs-red
		// 	#EE9EA2
		// 	#FFFFFF
		// 	#81BDFD
		// 	$bs-blue -->