.cookie-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cookie-box {
    position: fixed;
    bottom: $footer-height + $footer-height;
    width: 203px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    border-radius: 5px;
    z-index: 1100;
    display:none;
    font-size: small;
}

.cookie-text {
    margin: 0;
    padding-bottom: 4px;
}

.cookie-link {
    transition: all 0.3s;
}

.cookie-link:hover {
    color: $bs-red;
    text-decoration: none;
}

.cookie-close {
    display: block;
    width: 100%;
    margin-top: 7px;
    transition: all 0.3s;
}

.cookie-close:hover {
    background-color: $bs-red;
    border-color: #DC3545;
}

cookie-close:active {
    background-color: $bs-red;
    border-color: #DC3545;
}