.data-notes {
    text-align: left !important;
    font-weight: bold;
    color: $bs-blue;
}

.data-notes-step {
    margin-bottom: 5px;
}

.data-notes-step span {
    font-weight: normal;
    color: black;
}

.data-notes-intro{
    margin-top: $header-height;
}

.notes-text {
    margin-top: 12.5vh;
    margin-bottom: 4vh;
}

.note-number {
    font-weight: bold;
    color: $bs-blue;
}