.footer {
    // display: block;
    // position: absolute;
    // top: 100vh - $header-height - $footer-height;
    // margin: 0 auto;
    // margin-top: 10vh;
    width: 100%;
    height: $footer-height;
    overflow: hidden;
    z-index: 1013;
    box-shadow: none;
    background-color: #DC3C45;
    // position: fixed;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    // justify-content: center;
    align-items: center;
    text-align: center;
    // font-weight: lighter;
    font-size: 1em;
    color: white;
    line-height: 1.2;


}

.footer-link{
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    // padding-top: 0.0625em * 3;
    // padding-bottom: 0.0625em * 3;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 1em;
    // border: 2px solid transparent;
    margin: 0;
}

.footer-link:hover{
    color: #037AFB;
    transition: $nav-item-transition-time ease;
    background: white;
    // border: 5px solid #DC3C45;
    text-decoration: none;
}

.social-icon{
     width: $social-icon-dim;
     height: $social-icon-dim;
     padding: 0;
     margin-top: ($footer-height - $social-icon-dim)/2;
     margin-bottom: ($footer-height - $social-icon-dim)/2;
    }

// .nav-link {
//     color: rgb(255, 255, 255);
//     text-align: right;
//     font-size: calc(1em + 0.5vw);
//     line-height: calc(1em + 0.5vw);
    // padding-left: 1em;
    // padding-right: 1em;
    // border-radius: 1em;
    // border: 5px solid transparent;
    // margin: 0;
// }

// .nav-link:hover {
//     // opacity: 1;
//     color: #037AFB;
//     transition: $nav-item-transition-time ease;
//     background: white;
//     border: 5px solid #DC3C45;
//     // border-radius: 1em;
//     // padding-left: 1em;
//     // padding-left: 1em;
// }



















.copyright {
    font-size: calc(0.5em + .25vw);
}

.footer-items{
    // margin: 0;
    // padding: 0;
}

// .test-row{
//     margin:0;
//     padding:0;
//     width: 100%;
// }

// .bs-reset {
//     max-width: none;
//     padding: 0;
// }