.footer {
    width: 100%;
    height: $footer-height;
    overflow: hidden;
    z-index: 1013;
    box-shadow: none;
    background-color: $bs-red;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: calc(0.5em + .25vw);
    color: white;
    line-height: 1.2;
}

.footer-link{
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 1em;
    margin: 0;
}

.footer-link:hover{
    color: $bs-blue;
    transition: $nav-item-transition-time ease;
    background: white;
    text-decoration: none;
}

.copyright-link-short {
    display: none;
}

.disclaimer {
    flex: auto;
}

.social-icon{
    width: $social-icon-dim;
    height: $social-icon-dim;
    padding: 0;
    margin-top: ($footer-height - $social-icon-dim)/2;
    margin-bottom: ($footer-height - $social-icon-dim)/2;
    margin-left: $social-icon-dim * 0.2;
    margin-right: $social-icon-dim * 0.2;
    border-radius: 0.25em;
    }

@media all and (max-width: 768px) {
    .footer {
        height: $header-height * 0.5;
        font-size: calc(1em + 0.25vw);
        font-weight: bold;
    }

    .copyright-link-full {
        display: none;
    }

    .copyright-link-short {
        display: inline-flex;
    }
}