.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #037AFB;
    // background-color: transparent;
    position: fixed;
    height: $header-height;
    overflow: hidden;
    z-index: 1010;
}

.header-text {
    width: 100vw;
    // height: 100vh - $header-height;
    position: absolute;
    font-size: calc(1em + 2vw);
    font-weight: bold;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* vertical-align: middle; */
    /* line-height: 100%; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.ppp-logo {
    width: $header-height * 0.8;
    height: $header-height * 0.8;
    z-index: 1011;
    position: fixed;
    margin-top: $header-height * 0.1;
    right: 2vw;
    display: none;
}

@media all and (max-width: 800px) {
    .ppp-logo {
        display: none;
    }
}