.background{
    position: absolute;
    padding-top: $header-height - $background-vertical-offset;
    z-index: 1;
}

.background-image {
    width: 100vw;
    height: 100vh - $header-height + $background-vertical-offset - $footer-height;
    object-fit: cover;
}

#home {
    z-index: 2;
    position: relative;
}

.row {
    margin: 0;
}

.top {
    height: $top-height;
}

.container-fluid {
    padding: 0;
    padding-top: $header-height - $background-vertical-offset - 5vh;
}

.left {
    font-size: calc(1em + 5vw);
    line-height: calc(1em + 1vw);
    padding-left: 5vw;
    margin-left: 0;
    width: 50vw;
}

.first-line {
    color: white;
    padding-top: 15vh;
    padding-left: 0vw !important;
    width: 45vw;
    margin-left: 0;
    font-weight: bold;
    opacity: 0;
}

.second-line {
    color: #FFFFFF;
    padding-top: 0vh;
    padding-left: 0vw;
    width: 36vw;
    margin-left: 0;
    font-weight: bold;
    opacity: 0;
}

.right{
    width: 50vw;
    position: fixed;
    right: 0;
    padding-left: 3vw;

}

.right-nav{
    margin:auto;
    max-width: fit-content;
}

.right-text {
    color: rgb(255, 255, 255);
    padding-top: 17vh;
    list-style-type: none;
    text-align: right;
    font-size: calc(1em + 1vw);
    line-height: calc(1em + 1vh);
    display: inline-flex;
    font-weight: bold;
}

.nav-item {
    transition: $nav-item-transition-time ease-out;
    opacity: 0;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: calc(1em + 0.5vw);
    line-height: calc(1em + 0.5vw);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin: 0;
    border: 5px solid $bs-blue;
    background: $bs-blue;
    margin-bottom: 3vh;
}

.nav-link:hover {
    color: $bs-blue;
    transition: $nav-item-transition-time ease;
    background: white;
    border: 5px solid $bs-red;
}

.list-group-item {
    background-color: none;
}

.img {
    object-fit:cover;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

@media all and (max-width: 905px) {
    .first-line {
        padding-top: 10vh;
    }

    .right-text {
        padding-top: 11vh;
    }

    .nav-link {
        padding: 0.25rem 1rem;
    }
}

@media all and (max-width: 441px) {
    .left {
        line-height: calc(1em + 1vw)
    }

    .first-line {
    font-size: calc(0.75em + 1vw);
    }

    .second-line {
    font-size: calc(0.75em + 1vw);
    }

    .nav-link {
        font-size: 0.9em;
    }
}