html {
    margin:0px;
    padding: 0px;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    background-color: gray;
    overflow: auto;
}

body {
    margin:0px;
    padding: 0px !important;
    background-color: black;
    font-family: "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}