::-webkit-scrollbar {
    width: 0;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  border-radius: 10px;
  background: linear-gradient(to top,#DC3C45, #037AFB);
  z-index: 1011;
}




// <!-- Colors:
// 	#DC3C45
// 	#EE9EA2
// 	#FFFFFF
// 	#81BDFD
// 	#037AFB -->