::-webkit-scrollbar {
    width: 0;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  border-radius: 10px;
  background: linear-gradient(to top, $bs-red, $bs-blue);
  z-index: 1011;
}