:root {
  --current-color: white;  
}


/* .main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
} */
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    /* width: 250px; */
    width: 300px;
    margin-top: $header-height;
    transform: translateX(-300px);
    transition: transform 300ms ease-in-out;
    background:
        /* linear-gradient(to right, transparent, 90%, var(--current-color)), */
        linear-gradient(180deg, #037AFB 25%, #DC3C45 80%);
    z-index: 1011;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 2px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    padding: 20px;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    /* background-color: black; */
    display: flex;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    transition: 200ms;
}

.sidebarMenuInner a:hover {
    background-color: rgba(0,0,0, 0.20);
    font-size: 20px;
    padding-top: 18;
    padding-bottom: 18;
    /* background-color: rgba(255, 255, 255, 0.10); */
}

.sidebarMenuInner .current {
    background:var(--current-color);
    cursor: not-allowed;
    border-bottom: 2px solid var(--current-color);
    pointer-events: none;
    font-size: 20px;
    color: black;
    
}

.currentTopItem {
    border-top: 2px solid var(--current-color);
}

/* .aboveCurrent {
    border-radius: 0px 0px 50px 0px; */
    /* border-right: 20px solid green;
    border-radius: 0px 0px 100px 0px; TL TR BR BL */
    /* border-right: 2px solid black; */
    /* box-shadow: 25px 0px 0px 25px white inset; */
    /* -webkit-box-shadow: 0px 0px 0px 50px #fff;
    box-shadow: 0px 0px 0px 50px #fff; */
/* } */
/* .aboveCurrent:before {
    border-radius: 15px 50px 30px 5px; /*TL TR BR BL
    border: 3px solid black;
    background: white;
} */

a {
    overflow: hidden;
}

.sidebarMenuInner {
    overflow:hidden
}

a.current {
    overflow: hidden;
}

/* a.current:after {
  content: "";
  position:absolute;
  margin-left:280px;
  width:30px;
  height:30px;
  transform:rotate(45deg);
  background-color:#000; to see where it is
  border-radius: 50%;
  box-shadow: 0 0 0 10px #522d5b;
} */

a.current:before {
    content: "";
    position:absolute;
    /* top:-40px; */
    /* margin-top: -100px; */
    margin-top: -60px;
    margin-left:240px;

    height:40px;
    width: 40px;
    border-bottom-right-radius: 50%;
    /* background:#000; */
    box-shadow: 0 20px 0 0 var(--current-color);
}

a.current:after {
    content: "";
    position:absolute;
    /* top:-40px; */
    /* margin-top: -100px; */
    margin-top: 52px;
    margin-left:240px;

    height:40px;
    width: 40px;
    border-top-right-radius: 50%;
    /* background:#000; */
    box-shadow: 0 -20px 0 0 var(--current-color);
}

/* .belowCurrent {
    border-radius: 15px 50px 30px 5px; /*TL TR BR BL
} */

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    // display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    // position: fixed;
    z-index: 1012;
    height: 100%;
    width: 100%;
    left: 15px;
    top: 4vh;
    // height: 50px;
    width: 4vw;
}
.menuIcon {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: $sidebar-icon-line-height;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: .5vh;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: .5vh;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -1vh;
}