/* LOADING SPINNER */
/* .spinner-text {
    position: absolute;
    left: 370px;
    font-size:16px
}

.spinner-spinner {
    position: absolute;
    left: 560px;
} */

/* class="fixed-table-loading table table-bordered table-hover fixed-table-border" */

/* .fixed-table-loading {
    width:500px;
    overflow:hidden;
} */

/* .fixed-table-body {
    width:500px
} */
/* END LOADING SPINNER */