::-webkit-scrollbar {
    width: 0;
}

.fixed-table-body::-webkit-scrollbar:vertical {
    all: unset;
    background: #dee2e6;
    border-radius: 0px 10px 0px 0px;
}

.fixed-table-body::-webkit-scrollbar:horizontal {
    background: #dee2e6;
    border-radius: 0px 0px 10px 10px;
}

.fixed-table-body::-webkit-scrollbar-track {
    background: #dee2e6;
}

.fixed-table-body::-webkit-scrollbar-track:vertical {
    border-radius: 10px 10px 0px 0px;
}

.fixed-table-body::-webkit-scrollbar-track:horizontal {
    border-radius: 0px 0px 0px 10px;
}

.fixed-table-body::-webkit-scrollbar-corner {
    background: #dee2e6;
}

.fixed-table-body::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(0deg, rgba(220, 60, 69,1)  0%, rgba(3, 122, 251,1) 100%);
    border-radius: 10px;
}

.fixed-table-body::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(270deg, rgba(220, 60, 69,1)  0%, rgba(3, 122, 251,1) 100%);
    border-radius: 10px;
}

.source{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: $footer-height;    
    font-style: italic;
    font-size: smaller;
    box-sizing: unset !important;
}

.source:before{
    box-sizing: unset !important;
}

.source:after{
    box-sizing: unset !important;
}

.table-title {
    text-align: center;
}

.bootstrap-table, th, td {
    background:white;
    z-index: 1;
}

input.form-control.form-control.search-input {
    border-radius: .25rem;
}

button[name=toggle] {
    margin-left: 5px !important;
    border-radius: .25rem !important;
}

.btn.btn-primary.dropdown-toggle {
    border-radius: .25rem !important;
}

.fixed-table-body {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-radius: 10px 10px 0px 10px;
}

.detailview {
    max-width:800px;
    column-count: 2;
    column-rule: 1px solid #e0e1e5;
    column-gap: 28px;
}

div.hidden {
    display: none;
}

.table-content {
    width: 100vw;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: $header-height + $table-offset-top;
}

.bootstrap-table {
    margin-left: $table-side-margin !important;
    margin-right: $table-side-margin !important;
}

.fixed-table-body {
    overflow: scroll;

}

.fixed-table-container {
    height: 100vh - $header-height - $table-offset-top - $footer-height - $table-offset-bottom - $table-height-correction;
}

#resetButton {
    width: 186px;
}

.no-records-found {
    font-size:100%;
    color:#dc3546;
}

section {
    position: absolute;
    height:100vh;
    width:100vw;
    scroll-snap-align: start;
}

.bootstrap-table {
    border-radius: 25px;
    padding: 10px 5px 10px;
}

.test-table {
    background: white;
}

[title="Clear filters"] {
    display: none;
}

.pre-table-spinner-container {
    position: absolute;
    margin-left: calc((100vw - #{$pre-table-spinner-radius}) / 2);
    margin-top: calc((100vh - #{$pre-table-spinner-radius}) / 2);

}

.pre-table-spinner {
    width: $pre-table-spinner-radius;
    height: $pre-table-spinner-radius;
}

@media all and (max-width: 450px) {
    .float-right.search.btn-group {
        width: 100%;
    }

    .columns.columns-right.btn-group.float-right {
        width: 100%;
        margin-bottom: 0px;
    }

    .bs-bars.float-left, #toolbar, #resetButton{
        width: 100%;
        margin-bottom: 0px !important;
    }

    .table-content {
        padding-top: 5vh;
    }

    .form-control.search-input {
        border-radius: 0rem;
        margin-right: 1px;
    }

    .card-view-title {
        padding-right: 10px;
    }

    .bootstrap-table {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .card-view-title {
        min-width: 45% !important;
        max-width: 45%;
    }

    .pagination-detail {
        text-align: center;
        width: 100%;
    }

    .fixed-table-pagination {
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        font-size: $small-screen-pagination-font-size;
    }

    .pagination {
        font-size: $small-screen-pagination-font-size;
        margin: auto;
    }

    .float-right.pagination {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .pagination ul.pagination a {
        line-height: 2.4;
    }

    .page-jump-to.btn-group {
        margin: 10px auto 0px;
    }

    .page-jump-to .btn {
        flex: 0 1 auto;
        line-height: $small-screen-pagination-font-size;
    }

    .float-left.pagination-detail {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .pagination-info, .page-list {
        font-size: $small-screen-pagination-font-size !important;
    }

    .source {
        padding-bottom: $header-height * 0.5 + 1vh;
        text-align: center;
        font-size: $small-screen-pagination-font-size !important;
    }
}