.source{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: $footer-height;    
    font-style: italic;
    font-size: smaller;
    box-sizing: unset !important;
}

.source:before{
    box-sizing: unset !important;
}

.source:after{
    box-sizing: unset !important;
}

.table-title {
    text-align: center;
}

.bootstrap-table, th, td {
    background:white;
    z-index: 1;
  }

.detailview {
    max-width:800px;
    column-count: 2;
    column-rule: 1px solid #e0e1e5;
    column-gap: 28px;
    /* font-family: 'Lato', sans-serif; */
}

div.hidden {
    display: none;
}

.table-content {
    // margin-top: $header-height;
    // margin-left: auto;
    // margin-right: auto;
    // position: fixed;
    // top: $header-height;
    // position: relative;
    width: 100vw;
    // padding: 0 !important;
    // padding-top: $header-height;
    // margin-left: auto !important;
    // margin-right: auto !important;
    // margin-top: $header-height / 2;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: $header-height + $table-offset-top;
}

.bootstrap-table {
    margin-left: $table-side-margin !important;
    margin-right: $table-side-margin !important;
    // padding: 10px !important;
    // border: 5px solid white;
}

.fixed-table-body {
    overflow: scroll;

}

.fixed-table-container {
    // height: 100vh - $header-height - $footer-height;
    height: 100vh - $header-height - $table-offset-top - $footer-height - $table-offset-bottom - $table-height-correction;
}

#resetButton {
    width: 186px;
}

.no-records-found {
    font-size:100%;
    color:#dc3546;
    /* font-weight: bold; */
}

section {
    position: absolute;
    height:100vh;
    width:100vw;
    // top: calc(var(--screen) * 100vh);
    // $table-offset-top: 5vh;
    scroll-snap-align: start;

}

.bootstrap-table {
    border-radius: 25px;
    padding: 10px 5px 10px;
    /* border: 1px solid black; */

}

.test-table {
    background: white;
}