html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    height: 100vh;
}

ul.transition {
    list-style: none;
    padding: 0;
    margin-right: auto;
    display: flex;
    position: fixed;
    z-index: 1101;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li {
    transform: scaleY(0);
    background: white;
    width: 20%;
}

// <!-- Colors:
// 	#DC3C45
// 	#EE9EA2
// 	#FFFFFF
// 	#81BDFD
// 	#037AFB -->

ul.transition li:nth-child(1) {
    background-color: $bs-red;
}

ul.transition li:nth-child(2) {
    background-color: #EE9EA2;
}

ul.transition li:nth-child(3) {
    background-color: #FFFFFF;
}

ul.transition li:nth-child(4) {
    background-color: #81BDFD;
}

ul.transition li:nth-child(5) {
    background-color: $bs-blue;
}

.loader {
    font-size: 26px;
    font-weight: 600;
    color: $bs-blue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1102;
    opacity: 0;
}