$top-height: 100vh;
$bottom-height: 100vh - $top-height;

$enable-responsive-font-sizes: true;

// $example-var: #ff562f;

// $font-weights: (
//     "regular": 400,
//     "medium:": 500,
//     "bold": 700
// )

//    background-color: #DC3C45;
//     background-color: #037AFB;