$header-height: 10vh;

$background-vertical-offset: 2vh;

$table-offset-top: 5vh;
$table-offset-bottom: 5vh;
$table-height-correction: 20vh;
$table-side-margin: 10vw;

$privacy-offset-bottom: 5vh;
$terms-offset-bottom: $privacy-offset-bottom;
$contact-offset-bottom: $privacy-offset-bottom;

$footer-height: 5vh;

$top-height: 100vh;
$bottom-height: 100vh - $top-height;

$sidebar-icon-toggle-height: 5vh;
$sidebar-icon-toggle-width: 5vh;

$sidebar-icon-line-height: 3px;

$enable-responsive-font-sizes: true;

$nav-item-transition-time: .3s;

$social-icon-dim: 4vh;

// $example-var: #ff562f;

// $font-weights: (
//     "regular": 400,
//     "medium:": 500,
//     "bold": 700
// )

//    background-color: #DC3C45;
//     background-color: #037AFB;