.detailview {
    max-width:800px;
    column-count: 2;
    column-rule: 1px solid #e0e1e5;
    column-gap: 28px;
}

div.hidden {
    display: none;
}

.fixed-table-body {
    overflow: scroll;
}

.container_row{
    display: grid;
  }