
/* GSAP */
.loader {
    position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: #FFF6ED;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}



/* END GSAP */





html {
    margin:0px;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    background-color: gray;
}

body {
    margin:0px;
    background-color: black;
}

.container{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.bootstrap-table, th, td {
    background:white;
  }

.detailview {
    max-width:800px;
    column-count: 2;
    column-rule: 1px solid #e0e1e5;
    column-gap: 28px;
    /* font-family: 'Lato', sans-serif; */
}

div.hidden {
    display: none;
}

.fixed-table-body {
    overflow: scroll;
}


.fixed-table-container {
    height:60vh;
}


#resetButton {
    width: 186px;
}

.no-records-found {
    font-size:100%;
    color:#dc3546;
    /* font-weight: bold; */
}

#particles-js{
    background: #007aff;
    height:100vh;
    /* background: gray; */
    /* height: 800px; */
}

section {
    position: absolute;
    height:100vh;
    width:100vw;
    top: calc(var(--screen) * 100vh);
    scroll-snap-align: start;

}

.bootstrap-table {
    border-radius: 25px;
    padding: 10px 5px 10px;

}

.test-table {
    background: white;
}

/* .spinner-text {
    position: absolute;
    left: 370px;
    font-size:16px

}

.spinner-spinner {
    position: absolute;
    left: 560px;
} */
/* class="fixed-table-loading table table-bordered table-hover fixed-table-border" */

/* .fixed-table-loading {
    width:500px;
    overflow:hidden;
} */

/* .fixed-table-body {
    width:500px
} */