@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%)
        color: darken($text-color, 100%)
    }
}

body {
    background: green;
}

.example-var-use {
    background: $example-var;
    font-weight: weight(bold);
}

.example-main {
    @include flexCenter(column);
}

.example-light {
    @include theme($light-theme: true);
}