@import './variables';

// body {
//  background-image: url("../images/us-capitol-building-bw.jpg");

// }

body {
    // background-color: darkgray;
    // background: url("../images/us-capitol-building-bw.jpg") no-repeat center center fixed;

    
    font-family: "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

// .main {
//     margin: auto;
// }

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #037AFB;
    position: fixed;
    height: 10vh;
    overflow: hidden;
    z-index: 1010;
}

.header-text {
    width: 100vw;
    // height: 100vh - $header-height;
    position: absolute;
    font-size: calc(1em + 2vw);
    font-weight: bold;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* vertical-align: middle; */
    /* line-height: 100%; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


// .footer {
//     display: block !important;
//     position: fixed;
//     // overflow: hidden;
//     margin-top: 90vh;
//     // margin-top: 90vh;
//     width: 100%;
//     height: $footer-height!important;
//     box-shadow: none;
//     background-color: #DC3C45;
    
//     z-index: 10110;
// }

.footer {
    display: block;
    position: absolute;
    top: 100vh - $header-height - $footer-height;
    margin: 0 auto;
    margin-top: 10vh;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    z-index: 1010;
    box-shadow: none;
    background-color: #DC3C45;
    // position: fixed;
}






.background{
    position: absolute;
    padding-top: $header-height - $background-vertical-offset;
    z-index: 1;
    // background: url("../images/capitol-bw-flag-colored.png") no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // background-position-y: $header-height - 5vh;

}

.background img {
    width: 100vw;
    height: 100vh - $header-height + $background-vertical-offset - $footer-height;
    object-fit: cover;
}

#home {
    z-index: 2;
    position: relative;
}

.row {
    margin: 0;
    font-weight: bold;
}

.top {
    height: $top-height;
}

// .heading {
//     font-size: calc(1em + 5vw);
//     line-height: calc(1em + 1vw);
//     // -webkit-text-stroke: 1px lightgray;
//     // background: black;
//     // width: 50vw;
// }

.container-fluid {
    padding: 0;
    padding-top: $header-height - $background-vertical-offset - 5vh;
}

.left {
    font-size: calc(1em + 5vw);
    line-height: calc(1em + 1vw);
    padding-left: 5vw;
    margin-left: 0;
    // background: green;
    width: 50vw;
}

.first-line {
    // color: #037AFB;
    color: white;
    padding-top: 15vh;
    padding-left: 0vw !important;
    width: 45vw;
    margin-left: 0;

}

.second-line {
    // color: #DC3C45;
    color: #FFFFFF;
    padding-top: 0vh;
    padding-left: 0vw;
    width: 36vw;
    margin-left: 0;
}

.right{
    width: 50vw;
    // background: orange;
}
.right-nav{
    // background: green;
    // display:block;
    margin:auto;
    // display: inline-flex;
    max-width: fit-content;
    // width:50%;
    // margin-left: 0vw;
    // padding-right: 0vw;
}

.right-text {

    color: rgb(255, 255, 255);
    // background: black;
    padding-top: 15vh;
    // padding-right: 10vw;
    margin-right: -5vw;
    list-style-type: none;
    text-align: right;
    font-size: calc(1em + 1vw);
    line-height: calc(1em + 1vh);
    display: inline-block;

}

.nav-item {
    transition: $nav-item-transition-time ease;
    display: inline-block;
    // background: orange;

    // width: 100px;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: calc(1em + 0.5vw);
    line-height: calc(1em + 0.5vw);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    border: 5px solid transparent;
    margin: 0;
}

.nav-link:hover {
    // opacity: 1;
    color: #037AFB;
    transition: $nav-item-transition-time ease;
    background: white;
    border: 5px solid #DC3C45;
    // border-radius: 1em;
    // padding-left: 1em;
    // padding-left: 1em;
}


.list-group-item {
    background-color: none;
}

// .bottom {
//     height: $bottom-height;
// }

// .bottom-content {
//     height: $bottom-height;
//     transition: 2s;
//     overflow: hidden;
//     position: relative;
// }

// .bottom-content:nth-child(1) {
//     background-color: #DC3C45;
//     transition: 2s;
// }

// .bottom-content:nth-child(2) {
//     background-color: #EE9EA2;
// }

// .bottom-content:nth-child(3) {
//     background-color: #FFFFFF;
// }

// .bottom-content:nth-child(4) {
//     background-color: #81BDFD;
// }

// ul.transition li:nth-child(5) {
//     background-color: #037AFB;
// }

.img {
    object-fit:cover;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    // object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.tester:hover .overlay {
  opacity: 1;
}


/* NAVIGATION */

:root {
  --current-color: white;  
}


/* .main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
} */
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    /* width: 250px; */
    width: 300px;
    margin-top: $header-height;
    transform: translateX(-300px);
    transition: transform 300ms ease-in-out;
    background:
        /* linear-gradient(to right, transparent, 90%, var(--current-color)), */
        linear-gradient(180deg, #037AFB 25%, #DC3C45 80%);
    z-index: 1011;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 2px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    padding: 20px;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    /* background-color: black; */
    display: flex;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    transition: 200ms;
}

.sidebarMenuInner a:hover {
    background-color: rgba(0,0,0, 0.20);
    font-size: 20px;
    padding-top: 18;
    padding-bottom: 18;
    /* background-color: rgba(255, 255, 255, 0.10); */
}

.sidebarMenuInner .current {
    background:var(--current-color);
    cursor: not-allowed;
    border-bottom: 2px solid var(--current-color);
    pointer-events: none;
    font-size: 20px;
    color: black;
    
}

.currentTopItem {
    border-top: 2px solid var(--current-color);
}

/* .aboveCurrent {
    border-radius: 0px 0px 50px 0px; */
    /* border-right: 20px solid green;
    border-radius: 0px 0px 100px 0px; TL TR BR BL */
    /* border-right: 2px solid black; */
    /* box-shadow: 25px 0px 0px 25px white inset; */
    /* -webkit-box-shadow: 0px 0px 0px 50px #fff;
    box-shadow: 0px 0px 0px 50px #fff; */
/* } */
/* .aboveCurrent:before {
    border-radius: 15px 50px 30px 5px; /*TL TR BR BL
    border: 3px solid black;
    background: white;
} */

a {
    overflow: hidden;
}

.sidebarMenuInner {
    overflow:hidden
}

a.current {
    overflow: hidden;
}

/* a.current:after {
  content: "";
  position:absolute;
  margin-left:280px;
  width:30px;
  height:30px;
  transform:rotate(45deg);
  background-color:#000; to see where it is
  border-radius: 50%;
  box-shadow: 0 0 0 10px #522d5b;
} */

a.current:before {
    content: "";
    position:absolute;
    /* top:-40px; */
    /* margin-top: -100px; */
    margin-top: -60px;
    margin-left:240px;

    height:40px;
    width: 40px;
    border-bottom-right-radius: 50%;
    /* background:#000; */
    box-shadow: 0 20px 0 0 var(--current-color);
}

a.current:after {
    content: "";
    position:absolute;
    /* top:-40px; */
    /* margin-top: -100px; */
    margin-top: 52px;
    margin-left:240px;

    height:40px;
    width: 40px;
    border-top-right-radius: 50%;
    /* background:#000; */
    box-shadow: 0 -20px 0 0 var(--current-color);
}

/* .belowCurrent {
    border-radius: 15px 50px 30px 5px; /*TL TR BR BL
} */

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    /* position: absolute; */
    position: fixed;
    z-index: 1012;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.menuIcon {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* END NAVIGATION */










// .bottom-content:nth-child(1):hover {
//     background-image: url("../images/open.jpg");
//     background-size: cover;
// }

// .bottom-content:nth-child(2):hover {
//     background-image: url("../images/owners.jpg");
//     background-size: cover;
// }






// h1 {
//     text-align: center;
//     padding: 2rem .5rem;
// }












// @function weight($weight-name) {
//     @return map-get($font-weights, $weight-name);
// }

// @mixin flexCenter($direction) {
//     display: flex;
//     justify-content: center;
//     flex-direction: $direction;
// }

// @mixin theme($light-theme: true) {
//     @if $light-theme {
//         background: lighten($primary-color, 100%)
//         color: darken($text-color, 100%)
//     }
// }

// body {
//     background: green;
// }

// .example-var-use {
//     background: $example-var;
//     font-weight: weight(bold);
// }

// .example-main {
//     @include flexCenter(column);
// }

// .example-light {
//     @include theme($light-theme: true);
// }