html {
  margin: 0px;
  padding: 0px;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background-color: gray;
}

body {
  margin: 0px;
  padding: 0px !important;
  background-color: black;
  font-family: "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.source {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3vh;
  font-style: italic;
  font-size: smaller;
  -webkit-box-sizing: unset !important;
          box-sizing: unset !important;
}

.source:before {
  -webkit-box-sizing: unset !important;
          box-sizing: unset !important;
}

.source:after {
  -webkit-box-sizing: unset !important;
          box-sizing: unset !important;
}

.table-title {
  text-align: center;
}

.bootstrap-table, th, td {
  background: white;
  z-index: 1;
}

.detailview {
  max-width: 800px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-rule: 1px solid #e0e1e5;
          column-rule: 1px solid #e0e1e5;
  -webkit-column-gap: 28px;
          column-gap: 28px;
  /* font-family: 'Lato', sans-serif; */
}

div.hidden {
  display: none;
}

.table-content {
  width: 100vw;
  margin-bottom: 0vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;
}

.bootstrap-table {
  margin-left: 10vw !important;
  margin-right: 10vw !important;
}

.fixed-table-body {
  overflow: scroll;
}

.fixed-table-container {
  height: 57vh;
}

#resetButton {
  width: 186px;
}

.no-records-found {
  font-size: 100%;
  color: #dc3546;
  /* font-weight: bold; */
}

section {
  position: absolute;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.bootstrap-table {
  border-radius: 25px;
  padding: 10px 5px 10px;
  /* border: 1px solid black; */
}

.test-table {
  background: white;
}

[title="Clear filters"] {
  display: none;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #037AFB;
  position: fixed;
  height: 10vh;
  overflow: hidden;
  z-index: 1010;
}

.header-text {
  width: 100vw;
  padding-left: 10vh;
  padding-right: 10vh;
  position: absolute;
  font-size: calc(1em + 2vw);
  font-weight: bold;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.0 !important;
  /* vertical-align: middle; */
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.ppp-logo {
  width: 8vh;
  height: 8vh;
  z-index: 1011;
  position: fixed;
  margin-top: 1vh;
  right: 2vw;
}

@media all and (max-width: 441px) {
  .header-text {
    font-size: calc(1em + 1vw);
  }
}

.footer {
  width: 100%;
  height: 3vh;
  overflow: hidden;
  z-index: 1013;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #DC3C45;
  position: fixed;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: calc(0.5em + .25vw);
  color: white;
  line-height: 1.2;
}

.footer-link {
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  border-radius: 1em;
  margin: 0;
}

.footer-link:hover {
  color: #037AFB;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: white;
  text-decoration: none;
}

.copyright-link-short {
  display: none;
}

.disclaimer {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.social-icon {
  width: 3vh;
  height: 3vh;
  padding: 0;
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-left: 0.6vh;
  margin-right: 0.6vh;
  border-radius: 0.25em;
}

@media all and (max-width: 800px) {
  .footer {
    height: 5vh;
    font-size: calc(1em + 0.25vw);
    font-weight: bold;
  }
  .copyright-link-full {
    display: none;
  }
  .copyright-link-short {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  height: 100vh;
}

/* .wrapper {
    padding: 1em;
} */
/* ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
} */
/* a {
    text-decoration: none;
    color: black;
} */
/* li a {
        margin-right: 2em;
    } */
/* .cta {
    display: block;
    padding: 2em 2em 2em 0;
    font-size: 1.4em
} */
/* img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
} */
ul.transition {
  list-style: none;
  padding: 0;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1101;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: white;
  width: 20%;
}

/* ul.transition {
    height: 100vh;
    width: 100%;
    background: #be2829;
    display: none;
} */
ul.transition li:nth-child(1) {
  background-color: #DC3C45;
}

ul.transition li:nth-child(2) {
  background-color: #EE9EA2;
}

ul.transition li:nth-child(3) {
  background-color: #FFFFFF;
}

ul.transition li:nth-child(4) {
  background-color: #81BDFD;
}

ul.transition li:nth-child(5) {
  background-color: #037AFB;
}

.loader {
  font-size: 26px;
  font-weight: 600;
  color: #037AFB;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1102;
  opacity: 0;
}

/* GSAP */
/* .loader {
    position: fixed;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    background-color: #FFF6ED;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
} */
/* END GSAP */
.spinner-transition {
  width: 5vw;
  height: 5vw;
}

@media all and (max-width: 800px) {
  .spinner-transition {
    width: 10vw;
    height: 10vw;
  }
}

@-webkit-keyframes ldio-bvr6pqhlkhj {
  0% {
    top: 41.6px;
    left: 41.6px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 5.2px;
    left: 5.2px;
    width: 72.8px;
    height: 72.8px;
    opacity: 0;
  }
}

@keyframes ldio-bvr6pqhlkhj {
  0% {
    top: 41.6px;
    left: 41.6px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 5.2px;
    left: 5.2px;
    width: 72.8px;
    height: 72.8px;
    opacity: 0;
  }
}

.ldio-bvr6pqhlkhj div {
  position: absolute;
  border-width: 10.4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: ldio-bvr6pqhlkhj 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: ldio-bvr6pqhlkhj 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-bvr6pqhlkhj div:nth-child(1) {
  border-color: #dc3c45;
}

.ldio-bvr6pqhlkhj div:nth-child(2) {
  border-color: #037afb;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loadingio-spinner-ripple-dlf6ko9wm9 {
  width: 104px;
  height: 104px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-bvr6pqhlkhj {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-bvr6pqhlkhj div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* generated by https://loading.io/ */
/* LOADING SPINNER */
/* .spinner-text {
    position: absolute;
    left: 370px;
    font-size:16px
}

.spinner-spinner {
    position: absolute;
    left: 560px;
} */
/* class="fixed-table-loading table table-bordered table-hover fixed-table-border" */
/* .fixed-table-loading {
    width:500px;
    overflow:hidden;
} */
/* .fixed-table-body {
    width:500px
} */
/* END LOADING SPINNER */
:root {
  --current-color: white;
}

/* .main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
} */
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  /* width: 250px; */
  width: 300px;
  margin-top: 10vh;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #037AFB), color-stop(80%, #DC3C45));
  background: linear-gradient(180deg, #037AFB 25%, #DC3C45 80%);
  z-index: 1011;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebarMenuInner a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  /* background-color: black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.sidebarMenuInner a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding-top: 18;
  padding-bottom: 18;
  /* background-color: rgba(255, 255, 255, 0.10); */
}

.sidebarMenuInner .current {
  background: var(--current-color);
  cursor: not-allowed;
  border-bottom: 2px solid var(--current-color);
  pointer-events: none;
  font-size: 20px;
  color: black;
}

#left-nav-cover-inner {
  opacity: 50%;
  z-index: 10000;
  position: fixed;
  left: 2vw;
  top: 3vh;
  height: 4vh;
  width: 4vh;
  cursor: pointer;
}

.currentTopItem {
  border-top: 2px solid var(--current-color);
}

/* .aboveCurrent {
    border-radius: 0px 0px 50px 0px; */
/* border-right: 20px solid green;
    border-radius: 0px 0px 100px 0px; TL TR BR BL */
/* border-right: 2px solid black; */
/* box-shadow: 25px 0px 0px 25px white inset; */
/* -webkit-box-shadow: 0px 0px 0px 50px #fff;
    box-shadow: 0px 0px 0px 50px #fff; */
/* } */
/* .aboveCurrent:before {
    border-radius: 15px 50px 30px 5px; /*TL TR BR BL
    border: 3px solid black;
    background: white;
} */
a {
  overflow: hidden;
}

.sidebarMenuInner {
  overflow: hidden;
}

a.current {
  overflow: hidden;
}

/* a.current:after {
  content: "";
  position:absolute;
  margin-left:280px;
  width:30px;
  height:30px;
  transform:rotate(45deg);
  background-color:#000; to see where it is
  border-radius: 50%;
  box-shadow: 0 0 0 10px #522d5b;
} */
a.current:before {
  content: "";
  position: absolute;
  /* top:-40px; */
  /* margin-top: -100px; */
  margin-top: -60px;
  margin-left: 240px;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 50%;
  /* background:#000; */
  -webkit-box-shadow: 0 20px 0 0 var(--current-color);
          box-shadow: 0 20px 0 0 var(--current-color);
}

a.current:after {
  content: "";
  position: absolute;
  /* top:-40px; */
  /* margin-top: -100px; */
  margin-top: 52px;
  margin-left: 240px;
  height: 40px;
  width: 40px;
  border-top-right-radius: 50%;
  /* background:#000; */
  -webkit-box-shadow: 0 -20px 0 0 var(--current-color);
          box-shadow: 0 -20px 0 0 var(--current-color);
}

/* .belowCurrent {
    border-radius: 15px 50px 30px 5px; /*TL TR BR BL
} */
input[type="checkbox"]:checked ~ #sidebarMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

input[type=checkbox] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebarIconToggle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 1012;
  left: 2vw;
  top: 3.6vh;
  height: 4vh;
  width: 4vh;
}

.menuIcon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1vh;
  position: absolute;
  height: 0.5vh;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 0.75vh;
}

.diagonal.part-1 {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 0.75vh;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 1vh;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -1.7vh;
}

@media all and (max-width: 450px) {
  #sidebarMenu {
    width: 100vw;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  .sidebarMenuInner a {
    display: block !important;
    text-align: center;
  }
  a.current:before {
    display: none;
  }
  a.current:after {
    display: none;
  }
}

.background {
  position: absolute;
  padding-top: 8vh;
  z-index: 1;
}

.background img {
  width: 100vw;
  height: 89vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#home {
  z-index: 2;
  position: relative;
}

.row {
  margin: 0;
}

.top {
  height: 100vh;
}

.container-fluid {
  padding: 0;
  padding-top: 3vh;
}

.left {
  font-size: calc(1em + 5vw);
  line-height: calc(1em + 1vw);
  padding-left: 5vw;
  margin-left: 0;
  width: 50vw;
}

.first-line {
  color: white;
  padding-top: 15vh;
  padding-left: 0vw !important;
  width: 45vw;
  margin-left: 0;
  font-weight: bold;
  opacity: 0;
}

.second-line {
  color: #FFFFFF;
  padding-top: 0vh;
  padding-left: 0vw;
  width: 36vw;
  margin-left: 0;
  font-weight: bold;
  opacity: 0;
}

.right {
  width: 50vw;
  float: right;
  overflow: hidden;
}

.right-nav {
  margin: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.right-text {
  color: white;
  padding-top: 15vh;
  list-style-type: none;
  text-align: right;
  font-size: calc(1em + 1vw);
  line-height: calc(1em + 1vh);
  display: inline-block;
  font-weight: bold;
}

.nav-item {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: inline-block;
  opacity: 0;
}

.nav-link {
  color: white;
  text-align: right;
  font-size: calc(1em + 0.5vw);
  line-height: calc(1em + 0.5vw);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  border: 5px solid transparent;
  margin: 0;
}

.nav-link:hover {
  color: #037AFB;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: white;
  border: 5px solid #DC3C45;
}

.list-group-item {
  background-color: none;
}

@media all and (max-width: 905px) {
  .first-line {
    padding-top: 8vh;
  }
  .right-text {
    padding-top: 8vh;
  }
  .nav-link {
    padding: 0.25rem 1rem;
  }
}

@media all and (max-width: 441px) {
  .left {
    line-height: calc(1em + 1vw);
  }
  .first-line {
    font-size: calc(0.75em + 1vw);
  }
  .second-line {
    font-size: calc(0.75em + 1vw);
  }
  .nav-link {
    font-size: 0.9em;
  }
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #008CBA;
}

.tester:hover .overlay {
  opacity: 1;
}

.privacy-policy {
  margin-top: 10vh;
  margin-bottom: 8vh;
}

.lastElementPrivacy {
  padding-bottom: 10vh;
}

[data-custom-class='title'],
[data-custom-class='title'] * {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #000000 !important;
}

[data-custom-class='subtitle'],
[data-custom-class='subtitle'] * {
  font-family: Arial !important;
  color: #595959 !important;
  font-size: 14px !important;
}

[data-custom-class='heading_1'],
[data-custom-class='heading_1'] * {
  font-family: Arial !important;
  font-size: 19px !important;
  color: #000000 !important;
}

[data-custom-class='heading_2'],
[data-custom-class='heading_2'] * {
  font-family: Arial !important;
  font-size: 17px !important;
  color: #000000 !important;
}

[data-custom-class='body_text'],
[data-custom-class='body_text'] * {
  color: #595959 !important;
  font-size: 14px !important;
  font-family: Arial !important;
}

[data-custom-class='link'],
[data-custom-class='link'] * {
  color: #037afc !important;
  font-size: 14px !important;
  font-family: Arial !important;
  word-break: break-word !important;
}

.terms {
  margin-top: 10vh;
  margin-bottom: 8vh;
}

.lastElement {
  margin-bottom: 10vh;
}

[data-custom-class='title'],
[data-custom-class='title'] * {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #000000 !important;
}

[data-custom-class='subtitle'],
[data-custom-class='subtitle'] * {
  font-family: Arial !important;
  color: #595959 !important;
  font-size: 14px !important;
}

[data-custom-class='heading_1'],
[data-custom-class='heading_1'] * {
  font-family: Arial !important;
  font-size: 19px !important;
  color: #000000 !important;
}

[data-custom-class='heading_2'],
[data-custom-class='heading_2'] * {
  font-family: Arial !important;
  font-size: 17px !important;
  color: #000000 !important;
}

[data-custom-class='body_text'],
[data-custom-class='body_text'] * {
  color: #595959 !important;
  font-size: 14px !important;
  font-family: Arial !important;
}

[data-custom-class='link'],
[data-custom-class='link'] * {
  color: #3030F1 !important;
  font-size: 14px !important;
  font-family: Arial !important;
  word-break: break-word !important;
}

.contact {
  margin-top: 10vh;
  margin-bottom: 8vh;
}

.contact-text {
  margin-top: 12.5vh;
  margin-bottom: 2vh;
  font-weight: bold;
}

.form-group {
  padding-bottom: 1em;
}

.content-section {
  max-width: 641px;
}

.contact-success {
  z-index: 1100;
  position: absolute;
  left: 50%;
  margin-top: 10vh;
}

.inner-contact-success {
  position: relative;
  left: -50%;
}

.alert {
  margin-top: 2vh;
}

#submit {
  margin-bottom: 5vh;
}

.about-content {
  margin-top: 11vh;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 1.25rem !important;
}

.about-disclaimer {
  font-size: 1rem !important;
  font-style: italic;
  text-align: center;
  margin-top: -1vh;
  margin-bottom: 3vh;
}

.card-group {
  margin-top: 1vh;
}

.card {
  height: 100%;
}

.card-img-top {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 800px) {
  .about-disclaimer {
    margin-bottom: 10vh;
  }
  .about-content {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=main.css.map */