html, body {
    margin:0px;
  }

  .section {
    position: absolute;
    height:100vh;
    width:100vw;
    top: calc(var(--screen) * 100vh);
    /* top: 100vh; */
  }

.section-0 {
    background:blue;
  }

.section-1 {
    background:red;

  }

.section-2 {
    background:green;
  }