{% extends 'layout.html' %}
{% block content %}

    <div class="header">
        <div class="header-text">
            About the Paycheck Protection Program
        </div>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="menuIcon diagonal part-1"></div>
        <div class="menuIcon horizontal"></div>
        <div class="menuIcon diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <div class="sidebarMenuInner">
            <a href="{{ url_for('main.index') }}" alt="Broken Home Link" title="Home">Home</a>
            <a href="{{ url_for('main.data_under_150k') }}" title="Loans Under $150K">Loans Under $150K</a>
            <a href="{{ url_for('main.data_150k_and_up') }}" title="Loans $150K and Up">Loans $150K and Up</a>
            <a class="current" href="{{ url_for('main.about') }}" title="About">About</a>
            <a href="{{ url_for('main.contact') }}" title="Contact">Contact</a>
        </div>
    </div>

<div class="cards row row-cols-1 row-cols-md-2">
    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/us-capitol-building-bw.jpg') }}" class="card-img-top" alt="...alt...">
            <div class="card-body">
                <h5 class="card-title">Small Business Administration</h5>
                <p class="card-text">The Small Business Administration (SBA) implements the PPP. See their overview of the program:</p>
                <a href="https://www.sba.gov/funding-programs/loans/coronavirus-relief-options/paycheck-protection-program" class="btn btn-primary" target="_blank">Go to the SBA</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/us-capitol-building-bw.jpg') }}" class="card-img-top"
                alt="...alt...">
            <div class="card-body">
                <h5 class="card-title">U.S. Treasury</h5>
                <p class="card-text">The U.S. Treasury Department supports the PPP. They have provided an overview of the program, loan reports, and resources for program participants:</p>
                <a href="https://home.treasury.gov/policy-issues/cares/assistance-for-small-businesses"
                    class="btn btn-primary" target="_blank">Go to the Treasury</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/us-capitol-building-bw.jpg') }}" class="card-img-top"
                alt="...alt...">
            <div class="card-body">
                <h5 class="card-title">Associated Press</h5>
                <p class="card-text">See an overview of the loan program along with a set of frequently-asked questions:</p>
                <a href="https://apnews.com/article/b0d2a36521f39010273317fa3562c2e4"
                    class="btn btn-primary" target="_blank">Go to the AP</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/us-capitol-building-bw.jpg') }}" class="card-img-top"
                alt="...alt...">
            <div class="card-body">
                <h5 class="card-title">Washington Post</h5>
                <p class="card-text">See a map of where PPP loan recipients are based in this searchable data visualization:</p>
                <a href="https://www.washingtonpost.com/graphics/2020/business/sba-ppp-data/"
                    class="btn btn-primary" target="_blank">Go to the Washington Post</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/us-capitol-building-bw.jpg') }}" class="card-img-top"
                alt="...alt...">
            <div class="card-body">
                <h5 class="card-title">Text of the CARES Act</h5>
                <p class="card-text">See the full text of the CARES Act, including Section 1102 which defines the PPP:</p>
                <a href="https://www.congress.gov/116/bills/hr748/BILLS-116hr748enr.pdf"
                    class="btn btn-primary" target="_blank">Go to the bill</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
        <div class="card text-center">
            <img src="{{ url_for('static', filename='images/us-capitol-building-bw.jpg') }}" class="card-img-top"
                alt="...alt...">
            <div class="card-body">
                <h5 class="card-title">PPP Data</h5>
                <p class="card-text">Download the data directly from the U.S. Treasury and explore it for yourself:</p>
                <a href="https://home.treasury.gov/policy-issues/cares-act/assistance-for-small-businesses/sba-paycheck-protection-program-loan-level-data"
                    class="btn btn-primary" target="_blank">Go to the data</a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row" style="background-color: burlywood;">
    <div class="col-sm-6 col-md-4 col-lg-2">1</div>
    <div class="col-sm-6 col-md-4 col-lg-2">1</div>
    <div class="col-sm-6 col-md-4 col-lg-2">1</div>
    <div class="col-sm-6 col-md-4 col-lg-2">1</div>
    <div class="col-sm-6 col-md-4 col-lg-2">1</div>
    <div class="col-sm-6 col-md-4 col-lg-2">1</div>
</div>


SBA Website:
https://www.sba.gov/funding-programs/loans/coronavirus-relief-options/paycheck-protection-program

Treasury:
https://home.treasury.gov/policy-issues/cares/assistance-for-small-businesses

Associated Press Q&A:
https://apnews.com/article/b0d2a36521f39010273317fa3562c2e4

Washington Post
https://www.washingtonpost.com/graphics/2020/business/sba-ppp-data/

Text of Bill: SEC. 1102.
https://www.congress.gov/116/bills/hr748/BILLS-116hr748enr.pdf

PPP Data:
https://home.treasury.gov/policy-issues/cares-act/assistance-for-small-businesses/sba-paycheck-protection-program-loan-level-data
-->
{% endblock content %}