{% extends 'layout.html' %}
{% block content %}

<div class="header">
    <div class="header-text">
        Contact us
    </div>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="menuIcon diagonal part-1"></div>
    <div class="menuIcon horizontal"></div>
    <div class="menuIcon diagonal part-2"></div>
</label>

<div id="sidebarMenu">
    <div class="sidebarMenuInner">
        <a href="{{ url_for('main.index') }}" alt="Broken Home Link" title="Home">Home</a>
        <a href="{{ url_for('main.data_under_150k') }}" title="Loans Under $150K">Loans Under $150K</a>
        <a href="{{ url_for('main.data_150k_and_up') }}" title="Loans $150K and Up">Loans $150K and Up</a>
        <a href="{{ url_for('main.about') }}" title="About">About</a>
        <a href="{{ url_for('main.contact') }}" title="Contact">Contact</a>
    </div>
</div>

<div class="container contact">
    <form>
        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Full Name">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Organization (optional)">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Message"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>

</div>
{% endblock content %}