{% extends 'layout.html' %}

{% block head %}
<link rel="canonical" href="https://pppdata.us/contact" />
<meta name="description" content="Contact the creators of pppdata.us and let us know how we can continue democratizing access to data and increasing government accountability."/>
{% endblock %}

{% block title %}Contact the PPP Database Team{% endblock %}

{% block content %}

<div class="changing-content" data-barba="container" data-barba-namespace="contact">

    <div class="header">
        <h1 class="header-text">Contact us</h1>
    </div>

    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" onclick="sidebarMenuClick()">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="menuIcon diagonal part-1"></div>
        <div class="menuIcon horizontal"></div>
        <div class="menuIcon diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <div class="sidebarMenuInner">
            <a class="sidebarLink" href="{{ url_for('main.index') }}" alt="Broken Home Link" title="Home">Home</a>
            <a class="sidebarLink" href="{{ url_for('main.all_data') }}" title="All PPP Loan Data">Explore The Data</a>
            <a class="sidebarLink" href="{{ url_for('main.summary_stats') }}" title="PPP Summary Stats">Summary Stats</a>
            <a class="sidebarLink" href="{{ url_for('main.data_notes') }}" title="Notes On Our Data">Notes On Our Data</a>
            <a class="sidebarLink" href="{{ url_for('main.about') }}" title="About">About</a>
            <a class="sidebarLink current" href="{{ url_for('main.contact') }}" title="Contact">Contact</a>
        </div>
    </div>

    <div class="container contact">
        <div class="content-section mx-auto">

            <p class="contact-text text-center">
                Our mission at <span><a href="{{ url_for('main.index') }}">pppdata.us</a></span> is to improve the government's ability to serve the people by democratizing access to data and increasing government accountability.<br><br>
                We'd love to hear any questions, comments, or feedback to help us get there:
            </p>

            <form method="POST" action="">
                
                <!-- {{ form.csrf_token() }} -->
                {{ form.hidden_tag() }}

                <fieldset class="form-group">

                    <div class="row form-group">
                        <div class="col">
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control", placeholder="Full Name") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control", placeholder="Email") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col">
                            {{ form.organization(class="form-control", placeholder="Organization (optional)") }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col">
                            {% if form.message.errors %}
                                {{ form.message(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.message.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.message(class="form-control", rows='10', placeholder="Message") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col">
                            {{ form.recaptcha }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}