{% extends 'layout.html' %}

{% block head %}
<link rel="canonical" href="https://pppdata.us/data-notes" />
<meta name="description"
    content="See what adjustments we have made to improve the accuracy and accessibility of PPP data." />
{% endblock %}

{% block title %}Notes on Our PPP Data{% endblock %}

{% block content %}

<div class="changing-content" data-barba="container" data-barba-namespace="data-notes">

    <div class="header">
        <h1 class="header-text">Data Notes</h1>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" onclick="sidebarMenuClick()">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="menuIcon diagonal part-1"></div>
        <div class="menuIcon horizontal"></div>
        <div class="menuIcon diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <div class="sidebarMenuInner">
            <a class="sidebarLink" href="{{ url_for('main.index') }}" alt="Broken Home Link" title="Home">Home</a>
            <a class="sidebarLink" href="{{ url_for('main.all_data') }}" title="All PPP Loan Data">Explore The Data</a>
            <a class="sidebarLink" href="{{ url_for('main.summary_stats') }}" title="PPP Summary Stats">Summary Stats</a>
            <a class="sidebarLink current" href="{{ url_for('main.data_notes') }}" title="About Our Data">About Our Data</a>
            <a class="sidebarLink" href="{{ url_for('main.about') }}" title="About the PPP">About the PPP</a>
            <a class="sidebarLink" href="{{ url_for('main.contact') }}" title="Contact">Contact</a>
        </div>
    </div>

    <div class="container data-notes-intro">
        <div class="content-section mx-auto">
            <p class="notes-text text-center">
                At <span><a href="{{ url_for('main.index') }}">pppdata.us</a></span>, we strive to present this data in the most accessible, accurate, and transparent way possible. See below to learn more about the adjustments we've made to the data in pursuit of these goals.
            </p>
        </div>
    </div>
        <div class="card-group">
            <div class="col-md-6 mb-4">
                <div class="card text-center">
                    <img src="{{ url_for('static', filename='images/about-data-logo.svg') }}" class="card-img-top" alt="Data logo">
                    <div class="card-body">
                        <h3 class="about-header">Searchable PPP Data Table</h3>
                        <p class="card-text">
                            The data presented here is almost entirely in its original form.
                            Changes have been made for readability purposes (e.g., capitalization or spacing).
                            None of these changes altered the values presented here (except one instance of a state labeled as "FI"
                            that was clearly intended to be "FL").
                        </p>
                        <p class="card-text">
                            Some of those changes were the result of the work done at the non-profit <span><a
                                    href="https://investigativereportingworkshop.org/about-irw/" rel="nofollow noopener"
                                    target="_blank">Investigative Reporting Workshop</a></span>, based out of the American
                            University School of Communication in Washington, DC.
                            Some we made ourselves.
                            All of them were made with the goal of making this data easier to read and interpret.
                        </p>
                        <p class="card-text">
                            Because this searchable data set does not include any changes to the values of the data,
                            the figures presented here may not match exactly with those presented in the 
                            <span><a href="{{ url_for('main.summary_stats') }}" target="_blank">Summary Stats</a></span> table,
                            where we changed the geographic state on some loans if we found it to be likely incorrect (see the data notes on the Summary Stats for more details). 
                            When in doubt, the original data from the Small Business Administration set can be accessed below.
                        </p>
                        <a href="https://sba.app.box.com/s/5myd1nxutoq8wxecx2562baruz774si6/folder/127201759675"
                            class="btn btn-primary" rel="noopener" target="_blank">See the original data</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card text-center">
                    <img src="{{ url_for('static', filename='images/notes-summary-logo.png') }}" class="card-img-top"
                        alt="Congress seal">
                    <div class="card-body">
                        <h3 class="about-header">Summary Stats</h3>
                        <!-- <h5 class="card-title">Summary Stats</h5> -->
                        <p class="card-text">
                            We found <span class="note-number">1,013</span> instances in the original data set where there was a mismatch between a loan's state vs. its congressional district (e.g., a loan with a congressional district listed as CA-19 but a state listed as AL). We also found <span class="note-number">165</span> instances in which a loan had no state listed at all.
                            In these cases, we tried to determine the true state of the loan by following this process:
                            <ol class="data-notes">
                                <li class="data-notes-step"><span>If the state is blank but there is a ZIP code listed, search for it in Google to determine the state.</span></li>
                                <li class="data-notes-step"><span>If the state and the congressional district don't match, search for the street address in Google to determine in which state the street address actually exists.</span></li>
                                <li class="data-notes-step"><span>If the street address cannot be found or if the address exists in both states, add in the business name to the search to determine if there are any other public records or databases that list the company and the state in which it is based.</span></li>
                                <li class="data-notes-step"><span>Change the state listed in our pppdata.us database if there is reasonable evidence to support doing so.</span></li>
                            </ol>
                        </p>
                        <p class="card-text">
                            We updated the states on a total of <span class="note-number">299</span> loans, changing <span class="note-number">272</span> states on loans where the original state and congressional district did not match and adding <span class="note-number">27</span> states to loans that originally did not have one. 
                            In every case, the decision to change the state was a judgement call that was arrived at in a good-faith effort to provide you with the most accurate data. 
                            That said, at the end of the day we may not have gotten it right every time. 
                            If you believe a state designation was changed incorrectly, please 
                            <span><a href="{{ url_for('main.contact') }}" target="_blank">contact us</a></span>. 
                            The full list of loans with mismatched or missing states (along with the changes we have made) is available below.
                        </p>    
                        <p class="card-text">
                            The figures presented here may not match exactly with those presented in the searchable <span><a href="{{ url_for('main.all_data') }}" target="_blank">PPP data table</a></span>, where no states have been changed 
                            (except one instance of a state labeled as "FI" that was clearly intended to be "FL").
                        </p>
                        <a href="{{ url_for('main.data_notes_download') }}" class="btn btn-primary" rel="noopener" target="_blank">Download the state changes</a>
                    </div>
                </div>
            </div>

        
            <!-- <div class="container">
                    <p class="about-disclaimer">Note: This site is not affiliated with any government agency or news organization.</p>
                </div> -->
        </div>
</div>
{% endblock content %}





<!-- 

    <form>
        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Full Name">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Organization (optional)">
                <div class="form-control">{{ form.name(size=20) }}</div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <!- - <label for="exampleFormControlTextarea1">Example textarea</label> -- >
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Message"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>



<div class="formwrapper">
    <! -- <h2 class="title">Contact</h2> - ->
    <form method="POST" action="/">
        <div class="form-group">{{ form.name.label }} {{ form.name(size=20) }}</div>
        <div class="form-group">{{ form.email.label }} {{ form.email }}</div>
        <div class="form-group">{{ form.message.label }} {{ form.message }}</div>
        {{ form.submit }}
    </form>
</div>


<div class="formwrapper">
    <!- - <h2 class="title">Contact</h2> - ->
    <form method="POST" action="/">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>

            <dir class-"form-group">
                {{ form.name.label(class="form-control-label") }}
            </dir>
        </fieldset>
        <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}</div>
        <div class="form-field">{{ form.email.label }} {{ form.email }}</div>
        <div class="form-field">{{ form.message.label }} {{ form.message }}</div>
        {{ form.submit }}
    </form>
</div> -->