{% extends 'layout.html' %}
{% block content %}

    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="menuIcon diagonal part-1"></div>
        <div class="menuIcon horizontal"></div>
        <div class="menuIcon diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <div class="sidebarMenuInner">
            <!-- <a href="https://vanila.io">Home</a> -->
            <a href="{{ url_for('main.index') }}" alt="Broken Home Link">Home</a>
            <a class="current" href="https://instagram.com/plavookac">Loans Under $150K</a>
            <a href="https://twitter.com/plavookac">Loans $150K and Up</a>
            <a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg">About</a>
            <a href="https://www.linkedin.com/in/plavookac/">Contact</a>
        </div>
    </div>

    <a href="{{ url_for('main.home') }}" alt='Broken Link'><button type="button" class="btn btn-success">BACK HOME</button></a>

    <!-- <section class="section-1 child" style="--screen:1"> -->
    <!-- <div class="container hidden"> -->

    <div class="container hidden table-content">
        <div class="table-title">
            <h1>Loans under $150,000</h1>
        </div>
        <div id="toolbar">
            <button id="resetButton" class="btn btn-danger">Reset</button>
        </div>
        <table
            id="table"
            data-toggle="table"
            data-ajax="ajaxRequest"

            data-buttons-align="right"
            data-buttons-class="primary"
            data-buttons-order="['columns', 'toggle', 'print']"
            data-show-button-text="true"
            data-search="true"
            data-search-align="right"
            data-search-accent-neutralise="true"
            data-search-on-enter-key="false"
            data-search-text=""
            data-search-time-out="2000"
            visible-search="true"
            data-sort-reset="false"
            data-silent-sort="true"
            data-side-pagination="server"
            data-pagination="true"
            data-pagination-pre-text="Previous"
            data-pagination-next-text="Next"
            data-pagination-successively-size="3"
            data-pagination-v-align="bottom"
            data-pagination-loop="false"
            data-page-list="[10, 25, 50, 100, 200, 500, 1000]"
            data-show-pagination-switch="false"
            data-show-extended-pagination="false"
            data-show-jump-to="true"
            data-remember-order="true"
            data-show-columns="true"
            data-show-columns-search="true"
            data-show-columns-toggle-all="true"
            data-show-header="true"
            data-show-footer="false"
            data-show-fullscreen="false"
            data-show-refresh="false"
            data-show-toggle="true"
            data-smart-display="true"
            data-undefined-text="N/A"
            data-virtual-scroll="true"
            data-addrbar="false"
            data-show-export="false"
            data-export-data-type="basic"
            data-filter-control="true"
            data-mobile-responsive="true"
            data-show-print="false"
            data-reorderable-columns="false"
            data-header-style="headerStyle"
            data-toolbar="#toolbar"
            data-detail-view="true"
            data-detail-formatter="detailFormatter"
            data-detail-view-by-click="false"
            data-loading-template="loadingTemplate"
            >
            <thead>
                <tr>
                    <!--
                    loanamount,city,state,zip,naicscode,businesstype,raceethnicity,gender,veteran,nonprofit,jobsretained,dateapproved,lender,cd
                    -->
                    <th data-field="loanamount"     data-sortable="true" data-filter-control="input"    data-sort-order="desc" data-formatter="amountFormatter"               >Loan Amount</th>
                    <th data-field="city"           data-sortable="true" data-filter-control="input"                                                                          >City</th>
                    <th data-field="state"          data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.state"                                   >State</th>
                    <th data-field="zip"            data-sortable="true" data-filter-control="input"                                                                          >ZIP Code</th>
                    <!-- <th data-field="naicscode"      data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.naicscode"       data-visible="false"    >NAICS Code</th> -->
                    <th data-field="businesstype"   data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.businesstype"    data-visible="false"    >Business Type</th>
                    <th data-field="raceethnicity"  data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.raceethnicity"                           >Race&#47;Ethnicity</th>
                    <th data-field="gender"         data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.gender"                                  >Gender</th>
                    <th data-field="veteran"        data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.veteran"         data-visible="false"    >Veteran</th>
                    <th data-field="nonprofit"      data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.nonprofit"       data-visible="false"    >Nonprofit</th>
                    <th data-field="jobsretained"   data-sortable="true" data-filter-control="input"                                                                          >Jobs Retained</th>
                    <th data-field="dateapproved"   data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.dateapproved"    data-visible="false"    >Date Approved</th>
                    <th data-field="lender"         data-sortable="true" data-filter-control="input"                                                  data-visible="false"    >Lender</th>
                    <th data-field="cd"             data-sortable="true" data-filter-control="select"   data-filter-data="obj:colOptions.cd"                                      >House District</th>
                </tr>
            </thead>
        </table>
    </div>


{% endblock content %}