{% extends 'layout.html' %}

{% block head %}
<link rel="canonical" href="https://pppdata.us/all-data.html" />
<meta name="description"
    content="Easily search and sort PPP loan data by any of the 16 categories, including industry, geography, race, and gender." />
{% endblock %}

{% block title %}Search the PPP Loan Database{% endblock %}

{% block content %}

<script type="application/ld+json">
        {
            "@context":"https://schema.org/",
            "@type":"Dataset",
            "name": "Paycheck Protection Program Loan Data",
            "description": "Complete set of loan-level data on the recipients of Paycheck Protection Program loans",
            "alternateName": ["PPP Loan Data", "PPP Data for All Loans"],
            "creator": [
                {
                    "@type": "Organization",
                    "sameAs": "http://ror.org/015t55b95",
                    "name": "Small Business Administration"
                }
            ],
            "url": "https://home.treasury.gov/policy-issues/cares-act/assistance-for-small-businesses/sba-paycheck-protection-program-loan-level-data",
            "license":"http://creativecommons.org/publicdomain/zero/1.0/"
        }
    </script>

<div class="changing-content" data-barba="container" data-barba-namespace="data">

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mobileModal">
        Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="mobileModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Super cool phone you've got!</h5>
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <strong>Heads up:</strong> some of our nifty search functionality might lack some... functionality
                    on this device. So if that happens, you should check us out on a desktop computer.
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">What is this, 2005?</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Sounds good to me!</button>
                </div>
            </div>
        </div>
    </div>


    <div class="header">
        <h1 class="header-text">PPP Loan Data</h1>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" onclick="sidebarMenuClick()">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="menuIcon diagonal part-1"></div>
        <div class="menuIcon horizontal"></div>
        <div class="menuIcon diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <div class="sidebarMenuInner">
            <a class="sidebarLink" href="{{ url_for('main.index') }}" alt="Broken Home Link" title="Home">Home</a>
            <a class="sidebarLink current" href="{{ url_for('main.all_data') }}" title="All PPP Loan Data">Explore The
                Data</a>
            <a class="sidebarLink" href="{{ url_for('main.about') }}" title="About">About</a>
            <a class="sidebarLink" href="{{ url_for('main.contact') }}" title="Contact">Contact</a>
        </div>
    </div>

    <div class="text-center text-primary pre-table-spinner-container">
        <div class="spinner-grow pre-table-spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Enable nav menu to close with a click outside of the menu -->


    <!-- <section class="section-1 child" style="--screen:1"> -->
    <!-- <div class="container hidden"> -->

    <div class="container table-content"></div>
    <div class="outside hidden">
        <!-- <div class="table-title">
            <h1>Loans under $150,000</h1>
        </div> -->
        <div id="toolbar">
            <button id="summaryResetButton" class="btn btn-danger">Reset</button>
        </div>

        <table id="summary-table"
            data-toggle="table"
            data-url="data/summary_data.json"
            data-buttons-align="right"
            data-buttons-class="primary"
            data-buttons-order="['columns', 'toggle', 'print', 'export']"
            data-show-button-text="true"
            data-search="false"
            data-search-align="right"
            data-search-accent-neutralise="true"
            data-search-on-enter-key="false"
            data-search-text=""
            data-search-time-out="1000"
            visible-search="false"
            data-sort-reset="false"
            data-silent-sort="false"
            data-remember-order="true"
            data-show-columns="true"
            data-show-columns-search="false"
            data-show-columns-toggle-all="true"
            data-show-header="true"
            data-show-footer="true"
            data-show-fullscreen="false"
            data-show-refresh="false"
            data-show-toggle="true"
            data-smart-display="true"
            data-undefined-text="Unanswered"
            data-virtual-scroll="true"
            data-addrbar="false"
            data-export-data-type="basic"
            data-filter-control="true"
            data-show-search-clear-button="true"
            data-show-print="false"
            data-reorderable-columns="false"
            data-header-style="headerStyle"
            data-toolbar="#toolbar"
            data-detail-view="true"
            data-detail-formatter="summaryDetailFormatter"
            data-detail-view-by-click="false"
            data-loading-template="loadingTemplate"
            data-disable-control-when-search="false"
            data-show-export="true"
            data-export-data-type="all"
            data-export-types="['csv', 'json', 'xml', 'txt', 'sql', 'doc', 'pdf']"
            data-export-options='{
                "fileName": "ppp_summary_data", 
                "ignoreColumn": [0]
                }'
            >

            <thead>
                <!-- <div id="summary"> </div> -->
                <tr>
                    <th data-field="state"              data-sortable="true" data-footer-formatter=sumFooterState               data-filter-control="select">State</th>
                    <th data-field="loancount"          data-sortable="true" data-footer-formatter=sumFooterLoanCount           data-filter-control="input" data-sort-order="desc"># of Loans</th>
                    <th data-field="totaljobs"          data-sortable="true" data-footer-formatter=sumFooterTotalJobs           data-filter-control="input" ># of Jobs</th>
                    <th data-field="totalloanamount"    data-sortable="true" data-footer-formatter=sumFooterTotalAmount         data-filter-control="input" >Loan Amount</th>
                    <th data-field="avgloansize"        data-sortable="true" data-footer-formatter=sumFooterAvgLoan             data-filter-control="input" >Average Loan Size</th>
                    <th data-field="jobsperloan"        data-sortable="true" data-footer-formatter=sumFooterJobsPerLoan         data-filter-control="input" >Average Jobs per Loan</th>
                    <th data-field="dollarsperjob"      data-sortable="true" data-footer-formatter=sumFooterDollarsPerJob       data-filter-control="input" >Average Loan Dollars per Job</th>
                    <th data-field="loancountnojobs"    data-sortable="true" data-footer-formatter=sumFooterLoanCountNullJobs   data-filter-control="input" ># of Loans Reporting No Jobs</th>
                    <th data-field="totalloansnojobs"   data-sortable="true" data-footer-formatter=sumFooterTotalAmountNullJobs data-filter-control="input" >Total Amount for Loans Reporting No Jobs</th>
                    <th data-field="avgloansizenojobs"  data-sortable="true" data-footer-formatter=sumFooterAvgLoan             data-filter-control="input" >Average Loan Size for Loans Reporting No Jobs</th>
                </tr>
            </thead>
            <tbody></tbody>

<!-- {
"state": "TOTAL",
"loancount": "5,156,850",
"totaljobs": "50,785,196",
"totalloanamount": "$522,949,800,494.12",
"avgloansize": "$101,408.77",
"jobsperloan": 12,
"dollarsperjob": "$8,907.63",
"loancountnojobs": "932,556",
"totalloansnojobs": "$70,573,990,121.26",
"avgloansizenojobs": "$75,678.02"
} -->

        </table>
        <div class="source">
            Source: <a href="https://sba.app.box.com/s/5myd1nxutoq8wxecx2562baruz774si6/folder/127201759675"
                rel="nofollow noopener" target="_blank">SBA</a>, with <a href="{{ url_for('static',filename='data-notes.html') }}" target="_blank">manual adjustments</a>
        </div>
        <div class="note">
            * Total jobs does not account for those reported as "Unanswered"
        </div>
    </div>

    <!-- <script src="{{ url_for('static',filename='js/index.js') }}"></script> -->
    <!-- <script>
        $table.bootstrapTable()
    </script> -->
</div>
{% endblock content %}