{% extends 'layout.html' %}

{% block head %}
<link rel="canonical" href="https://pppdata.us/contact.html" />
<meta name="description"
    content="Contact the creators of pppdata.us and let us know how we can continue democratizing access to data and increasing government accountability." />
{% endblock %}

{% block title %}Notes on Our PPP Data{% endblock %}

{% block content %}

<div class="changing-content" data-barba="container" data-barba-namespace="contact">
    <!-- <script src="https://www.google.com/recaptcha/api.js"></script>

    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>

    <script>
        function onClick(e) {
            e.preventDefault();
            grecaptcha.ready(function () {
                grecaptcha.execute('reCAPTCHA_site_key', { action: 'submit' }).then(function (token) {
                    // Add your logic to submit to your backend server here.
                });
            });
        }
    </script> -->

    <div class="header">
        <h1 class="header-text">Data Notes</h1>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" onclick="sidebarMenuClick()">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="menuIcon diagonal part-1"></div>
        <div class="menuIcon horizontal"></div>
        <div class="menuIcon diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <div class="sidebarMenuInner">
            <a class="sidebarLink" href="{{ url_for('main.index') }}" alt="Broken Home Link" title="Home">Home</a>
            <a class="sidebarLink" href="{{ url_for('main.all_data') }}" title="All PPP Loan Data">Explore The Data</a>
            <a class="sidebarLink" href="{{ url_for('main.about') }}" title="About">About</a>
            <a class="sidebarLink current" href="{{ url_for('main.contact') }}" title="Contact">Contact</a>
        </div>
    </div>

    <div class="container contact">
        <div class="content-section mx-auto">

            <p class="contact-text text-center">
                Our mission at <span><a href="{{ url_for('main.index') }}">pppdata.us</a></span> is to improve the
                government's ability to serve the people by democratizing access to data and increasing government
                accountability.<br><br>
                We'd love to hear any questions, comments, or feedback to help us get there:
            </p>
        </div>
    </div>
        <div class="card-group">
            <div class="col-sm-6 mb-4">
                <div class="card text-center">
                    <img src="{{ url_for('static', filename='images/about-congress-logo.png') }}" class="card-img-top"
                        alt="Congress seal">
                    <div class="card-body">
                        <h5 class="card-title">Summary Stats</h5>
                        <p class="card-text">
                            For the XXXXXXXNUMBER of instances in which the original data set had a mismatch between a loan's State vs. its Congressional District (e.g., a CA-5 district listed as an FL loan), we tried to determine the true State of the loan by following this process:
                            <ul class="data-notes">
                                <li>1. Search the street address in Google to determine in which state the street address actually exists</li>
                                <li>2. If the street address cannot be found or if the address exists in both states, add in the business name to the search to determine if there are any other public records or databases that list the company and the state in which it is based.</li>
                                <li>3. Change the state designation in our pppdata.us database if there is reasonable evidence to support doing so.</li>
                            </ul>
                        </p>
                        <p>
                            In every case, the decision to change the State was a judgement call that was arrived at in a good-faith effort to provide you with the most accurate data. 
                            That said, at the end of the day we may not have gotten it right every time. If you believe a state designation was changed incorrectly, please 
                            <span><a href="{{ url_for('main.contact') }}" target="_blank">contact us</a></span>. 
                            The full dataset of states that have been changed is available below.
                        </p>
                        <a href="https://www.congress.gov/116/bills/hr748/BILLS-116hr748enr.pdf" class="btn btn-primary"
                            rel="noopener" target="_blank">Download the State changes</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card text-center">
                    <img src="{{ url_for('static', filename='images/about-data-logo.svg') }}" class="card-img-top"
                        alt="Data logo">
                    <div class="card-body">
                        <h5 class="card-title">PPP Data</h5>
                        <p class="card-text">Explore the data on your own by downloading it directly from the U.S. Treasury,
                            including the option to see the data by state:</p>
                        <a href="https://home.treasury.gov/policy-issues/cares-act/assistance-for-small-businesses/sba-paycheck-protection-program-loan-level-data"
                            class="btn btn-primary" rel="noopener" target="_blank">Go to the data</a>
                    </div>
                </div>
            </div>
        
            <!-- <div class="container">
                    <p class="about-disclaimer">Note: This site is not affiliated with any government agency or news organization.</p>
                </div> -->
        </div>
</div>
{% endblock content %}





<!-- 

    <form>
        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Full Name">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Organization (optional)">
                <div class="form-control">{{ form.name(size=20) }}</div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <!- - <label for="exampleFormControlTextarea1">Example textarea</label> -- >
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Message"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>



<div class="formwrapper">
    <! -- <h2 class="title">Contact</h2> - ->
    <form method="POST" action="/">
        <div class="form-group">{{ form.name.label }} {{ form.name(size=20) }}</div>
        <div class="form-group">{{ form.email.label }} {{ form.email }}</div>
        <div class="form-group">{{ form.message.label }} {{ form.message }}</div>
        {{ form.submit }}
    </form>
</div>


<div class="formwrapper">
    <!- - <h2 class="title">Contact</h2> - ->
    <form method="POST" action="/">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>

            <dir class-"form-group">
                {{ form.name.label(class="form-control-label") }}
            </dir>
        </fieldset>
        <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}</div>
        <div class="form-field">{{ form.email.label }} {{ form.email }}</div>
        <div class="form-field">{{ form.message.label }} {{ form.message }}</div>
        {{ form.submit }}
    </form>
</div> -->