{% extends 'layout.html' %}

{% block content %}


<!-- <h1>Btn2</h1>
<div id='p2'></div>
<button id="btn2"> Button2</button>
<script type="text/javascript">
    document.getElementById('btn2').addEventListener('click', consoleLog);

    function consoleLog(){
        console.log('Clicked it')
        var xhr = new XMLHttpRequest();

        xhr.open('GET', '/data', true);

        xhr.onload = function(){
            if(this.status == 200){
                console.log(this.responseText)
                document.getElementById('p2').innerHTML = 
                this.responseText;
            }
        }

        xhr.send();
    }
</script>

<h1>Btn3</h1>
<div id='p3'></div>
<button id="btn3"> Button3</button>
<script type="text/javascript">
    document.getElementById('btn2').addEventListener('click', consoleLog);

    function consoleLog(){
        console.log('Clicked it')
        // your custom ajax request here
        function ajaxRequest40() {
            var url = '/data'
            $.get(url).then(function (res) {
                params.success(res)
                console.log($.get(url))
        })
    ;
        }
    }
</script> -->


    <div>Here is some data:</div>
    <div class="container">

        <table
            id="tablex"
            data-toggle="table"
            data-ajax="ajaxRequest4"
            data-height="400"
            data-side-pagination="server"
            data-pagination="true">
            <thead>
                <tr>
                    <!-- <th data-field="id">ID</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="price">Item Price</th> -->
                    <th data-field="ad_requests">ID</th>
                    <th data-field="dfp_ad_units">Item Name</th>
                    <th data-field="eb_revenue">Item Price</th>
                </tr>
            </thead>
        </table>


        <script>
            // your custom ajax request here
            //
            // Data is successfully input in table here but it is from a static source
            //
            //
            function ajaxRequest(params) {
            var url = 'https://examples.wenzhixin.net.cn/examples/bootstrap_table/data'
            console.log(params)
            console.log(url + '?' + $.param(params.data))
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
                console.log(res)
                console.log($.get(url + '?' + $.param(params.data)))
            })
;
            }
        </script>        

        <script>
            // your custom ajax request here
            //
            // Data is successfully input in table here but it is from a static source
            //
            //
            function ajaxRequest2(params) {
            var url = 'http://localhost:5000/data'
            console.log(params)

            fetch(url)
            .then(response => response.json())
            .then(jsonResponse => {
            console.log(jsonResponse);
            params.success(jsonResponse)
            });



//             $.get(url).then(function (res) {
//                 params.success(res)
//                 console.log(res)
//                 console.log($.get(url + '?' + $.param(params.data)))
//             })
// ;
            }


            // $.getJSON("http://localhost:5000/example_copy.json", function(result){
            //     $.each(result, function(i, field){
            //     $("div").append(field + " ");
            //     });
            // });

            // var url = 'https://examples.wenzhixin.net.cn/examples/bootstrap_table/data'
            // console.log(params)
            // $.get(url + '?' + $.param(params.data)).then(function (res) {
            //     params.success(res)
            //     console.log(url + '?' + $.param(params.data))
            // });
        </script>

    <script>
        // your custom ajax request here
        //
        // Data is successfully rendered at this URL from the DB but it is in the wrong format
        //
        //
        function ajaxRequest3(params) {
        var url = '/data'
        console.log(params)
        $.get(url).then(function (res) {
            params.success(res)
            console.log($.get(url))
        })
    ;
        }
    </script>


<script>
    // your custom ajax request here
    //
    // Data is successfully input in table here from a local static source
    //
    //
    function ajaxRequest4(params) {
    var url = '/data_test'
    console.log(params)
    $.get(url + '?' + $.param(params.data)).then(function (res) {
        params.success(res)
        console.log(res)
    })
;
    }
</script>

<script>
    // your custom ajax request here
    //
    // Data is successfully input in table here from a local static source
    //
    //
    function ajaxRequest4(params) {
    var url = '/fetch'
    console.log(params)
    $.get(url + '?' + $.param(params.data)).then(function (res) {
        params.success(res)
        console.log(res)
    })
;
    }
</script>





<!-- 
        <table
        >
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table> -->




    </div>

{% endblock content %}

