{% extends 'layout.html' %}
{% block content %}

    <a href="{{ url_for('main.data_under_150k') }}" alt='Broken Link'><button type="button" class="btn btn-success">Go to live data table</button></a>

    <div class="container test-table">
        <div class="row">
            <div class="col-md">
                1 of 2 column
            </div>
            <div class="col-md">
                2 of 2 column
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                1 of 3 column
            </div>
            <div class="col-sm">
                2 of 3 column
            </div>
            <div class="col-sm">
                3 of 3 column
            </div>
        </div>
    </div>

{% endblock content %}


<!-- <section class="section-0 child" style="--screen:0">
        <div id="particles-js">
            <a href="{{ url_for('main.data_under_150k') }}" alt='Broken Link'><button type="button" class="btn btn-success">Go to data table 2</button></a>
        </div>
    </section> -->
