{% extends 'layout.html' %}

{% block content %}


<h1>Btn2</h1>
<div id='p2'></div>
<button id="btn2"> Button2</button>
<script type="text/javascript">
    document.getElementById('btn2').addEventListener('click', consoleLog);

    function consoleLog(){
        console.log('Clicked it')
        var xhr = new XMLHttpRequest();

        xhr.open('GET', '/data', true);

        xhr.onload = function(){
            if(this.status == 200){
                console.log(this.responseText)
                document.getElementById('p2').innerHTML = 
                this.responseText;
            }
        }

        xhr.send();
    }
</script>

<h1>Btn3</h1>
<div id='p3'></div>
<button id="btn3"> Button3</button>
<script type="text/javascript">
    document.getElementById('btn2').addEventListener('click', consoleLog);

    function consoleLog(){
        console.log('Clicked it')
        // your custom ajax request here
        function ajaxRequest4() {
            var url = '/data'
            $.get(url).then(function (res) {
                params.success(res)
                console.log($.get(url))
        })
    ;
        }
    }
</script>


    <div>Here is some data:</div>
    <div class="container">

        <table
            id="tablex"
            data-toggle="table"
            data-ajax="ajaxRequest"
            data-height="400"
            data-side-pagination="server"
            data-pagination="true">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="name">Item Name</th>
                    <th data-field="price">Item Price</th>
                </tr>
            </thead>
        </table>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

        <script>
            // your custom ajax request here
            function ajaxRequest2(params) {

            // var xhr = new XMLHttpRequest();
            // xhr.open('GET', 'example_copy.json', true);

            // xhr.onload = function (res) {
            //     params.success(res)
            // }
            // xhr.send();


            $.getJSON("example_copy.js", function(result){
                $.each(result, function(i, field){
                $("div").append(field + " ");
                });
            });

            // var url = 'https://examples.wenzhixin.net.cn/examples/bootstrap_table/data'
            // console.log(params)
            // $.get(url + '?' + $.param(params.data)).then(function (res) {
            //     params.success(res)
            //     console.log(url + '?' + $.param(params.data))
            // });
            }
        </script>

    <script>
        // your custom ajax request here
        function ajaxRequest3(params) {
        var url = '/data'
        console.log(params)
        $.get(url).then(function (res) {
            params.success(res)
            console.log($.get(url))
        })
    ;
        }
    </script>



        <script>
            // your custom ajax request here
            function ajaxRequest(params) {
            var url = 'https://examples.wenzhixin.net.cn/examples/bootstrap_table/data'
            console.log(params)
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
                console.log($.get(url + '?' + $.param(params.data)))
            })
;
            }
        </script>

<!-- 
        <table
        >
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table> -->




    </div>

{% endblock content %}

