
{% extends 'layout.html' %}
{% block content %}
    <div class="header">
        <div class="header-text">
            Paycheck Protection Program
        </div>
    </div>


<div class="contact-success">
    <div class="inner-contact-success">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show">
            <button type="button" class="close close-alert" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>



    <div class="background">
        <img src="../images/capitol-bw-flag-colored.png" />
    </div>
    <main id="home">
        <!-- <div class="container-fluid bg-primary top"> -->
        
        <div class="container-fluid all-content">
            <div class="row">
                <div class="left">
                    <div class="heading first-line">PPP loan data
                    </div>

                    <div class="heading second-line">
                        now in your hands.
                    </div>
                </div>

                <div class="right">
                    <div class="right-nav">
                        <ul class="list-group right-text">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.data_under_150k') }}" alt="Broken Home Link" title="Loans under $150K">Loans under $150K</a></li><br/>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.data_under_150k') }}" alt="Broken Home Link" title="Loans $150K and up">Loans $150K and up</a></li><br/>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.data_under_150k') }}" alt="Broken Home Link" title="About the PPP">About the PPP</a></li><br/>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.data_under_150k') }}" alt="Broken Home Link" title="Contact us">Contact us</a></li><br/>
                            <!-- <li class="nav-item">Loans $150K and up </li><br/>
                            <li class="nav-item">About the PPP</li><br/>
                            <li class="nav-item">Contact us</li><br/> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
<!-- </body>
</html> -->


        <!-- <div class="container-fluid bg-secondary bottom">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                <a class="bottom-content" href="https://www.google.com">

                < !-- <div class="container">
                    <img src="../static/images/open.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">Hello World</div>
                    </div>
                </div>
                -- >

                    <div class="tester">
                        <img src="../static/images/open.jpg" alt="Small Loans" class="image">
                        <div class="overlay">
                            <h1>Loans under $150K</h1>
                        </div>
                    </div>
                </a>
                <a class="bottom-content" href="https://www.bing.com">
                    <div>
                        <h1>Loans $150K and up</h1>
                    </div>
                </a>
                <a class="bottom-content" href="https://www.firefox.com">
                    <div>
                        <h1>About</h1>
                    </div>
                </a>
                <a class="bottom-content" href="https://www.duckduckgo.com">
                    <div>
                        <h1>Contact</h1>
                    </div>
                </a>
            </div> 
        </div>-->