<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="menuIcon diagonal part-1"></div>
    <div class="menuIcon horizontal"></div>
    <div class="menuIcon diagonal part-2"></div>
</label>

<div id="sidebarMenu">
    <div class="sidebarMenuInner currentTopItem">
        <a class="current" href="https://vanila.io" target="_blank">Company</a>
        <a href="https://instagram.com/plavookac" target="_blank">Instagram</a>
        <a href="https://twitter.com/plavookac" target="_blank">Twitter</a>
        <a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">YouTube</a>
        <a href="https://www.linkedin.com/in/plavookac/" target="_blank">Linkedin</a>
    </div>
</div>

<script>
    var checkbox = document.querySelector(".openSidebarMenu");
    document.addEventListener('click', function (e) {
        e = e || window.event;
        var target = e.target || e.srcElement;
            // text = target.textContent || target.innerText;
        // console.log(target);
        // console.log(target.getAttribute("id"));
        // // console.log(target.getAttribute("id") == "sidebarMenu")
        // console.log(target.getAttribute("id") != "sidebarMenu")
        // // console.log(target.getAttribute("id") == null)
        // console.log(target.getAttribute("id") != "sidebarMenu" || target.getAttribute("id") == "openSidebarMenu")
        // console.log("Checked? :")
        // console.log(document.getElementById("openSidebarMenu").checked)
        if ((target.getAttribute("id") != "sidebarMenu" && target.getAttribute("id") != "openSidebarMenu") && document.getElementById("openSidebarMenu").checked == true) {
            document.getElementById("openSidebarMenu").checked = false;
            triggerEvent(checkbox, 'change');
        };

        // console.log('Second set:')
        // console.log(target.getAttribute("id") == "openSidebarMenu")
        // console.log(document.getElementById("openSidebarMenu").checked == true)
        if (target.getAttribute("id") == "openSidebarMenu" && document.getElementById("openSidebarMenu").checked == false) {
            document.getElementById("openSidebarMenu").checked = false;
            // var manualEvent = document.createEvent("HTMLEvents");
            // manualEvent.initEvent('change', false, true);
            triggerEvent(checkbox, 'change');
        };
        // if (target.getAttribute("id") == "openSidebarMenu" && document.getElementById("openSidebarMenu").checked == false) {
        //     document.getElementById("openSidebarMenu").checked = false;
        // };
    }, false);

        function triggerEvent(element, eventName) {
            var manualEvent = document.createEvent("HTMLEvents");
            manualEvent.initEvent(eventName, false, true);
            element.dispatchEvent(manualEvent);
            }

        var div = document.createElement('div');
        div.id = 'new-rect';
        document.getElementsByTagName('body')[0].appendChild(div);

        checkbox.addEventListener('change', function () {
            // var parent = document.getElementsByTagName('body')[0]
            if (this.checked) {
                console.log('CHECKED!')
                var ok = true;
                if (ok === true) {
                    div.innerHTML = "<div id='MyCoolDiv'></div>";
                    console.log(document.getElementsByTagName('body')[0])
                    console.log("created!")
                    // console.log(div.parentElement.nodeName);
                    // parent.removeChild(div);
                    // console.log("deleted!!")
                // Checkbox is checked..
                }
            } else {
                console.log('UNCHECKED!')
                // var element = document.getElementsByClassName('new-rect');
                // console.log(element)
                // console.log(element.parentNode)
                // console.log(parent)
                console.log(div)
                // var myCoolDiv = document.getElementsByClassName('new-rect');
                var myCoolDiv = document.getElementById("MyCoolDiv");
                console.log(myCoolDiv)
                // var parent2 = document.getElementsByClassName('new-rect')
                document.getElementById('new-rect').removeChild(myCoolDiv);
                // Checkbox is not checked..
            }
        });
</script>

<!-- 
<script>
    $(document).click(function (event) {
        console.log('clicked!')
        var $target = $(event.target);
        if (!$target.closest('#openSidebarMenu').length &&
            document.getElementById("openSidebarMenu").checked == true) {
            document.getElementById("openSidebarMenu").checked = false;
        }
    });
    document.addEventListener('click', function (event) {

            // If the clicked element doesn't have the right selector, bail
            if (!event.target.matches('#sidebarMenu')) {
                console.log(event.target);
            };

            // // Don't follow the link
            // event.preventDefault();

            // Log the clicked element in the console


        }, false);
</script> -->


<!-- 
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>PPP Menu <span>Web Developer</span></li>
        <li><a href="https://vanila.io" target="_blank">Company</a></li>
        <li><a href="https://instagram.com/plavookac" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/plavookac" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">YouTube</a></li>
        <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Linkedin</a></li>
    </ul>
</div> -->
<!-- <div id='center' class="main center">
    <div class="mainInner">
        <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
        <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
        <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
</div> -->